{% load i18n %}{% autoescape off %}
{% blocktrans %}Otrzymujesz tego maila w celu resetu Twojego hasła na
{{ site_name }}.{% endblocktrans %}

{% trans "Przejdź na poniższą stronę i podaj nowe hasło:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password-reset-confirm' uidb64=uid token=token %}
{% endblock %}
{% trans 'Twoja nazwa użytkownika to:' %} {{ user.get_username }}

{% trans "Dzięki za korzystanie z naszej strony!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}